<div class="d-flex align-items-center justify-content-center h-100 loginbg">
  <div class="card w-50 mat-elevation-z3">
    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <h1>Login</h1>
          <p class="text-secondary">Sign In to you account</p>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="loginForm.controls.username.hasError('required')">
                  Please enter a username.
                </mat-error>
                <mat-icon matPrefix>person</mat-icon>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline" >
                <mat-label>Password</mat-label>
                <mat-icon matPrefix>lock</mat-icon>
                <input type="password" matInput [minlength]="passMinLength" formControlName="password" required>
                  <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                    Please enter a password.
                  </mat-error>
                  <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
                    Password must be at least {{passMinLength}} characters long.
                  </mat-error>

              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Login</button>
            </form>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-center align-items-center flex-column h-100 register container">
          <h1>Sign Up</h1>
          <h3>Register as a Volunteer Now!</h3>
          <button mat-raised-button color="primary" type="button" routerLinkActive="active" (click)="onRegister()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>

