
<mat-sidenav-container class="mat-container mat-container2">
  <mat-sidenav #drawer class="sidenav" mode="side" [opened]="sideNavStatus">

    <div class="sidenav-logo d-flex justify-content-center">
      <img class="logo" src="assets/images/logo.png" alt="logo">
    </div>
    <div class="sidenav-content">
       <!-- Admin -->
      <div *ngIf="currentUser?.type == 'admin'">
        <div class="sidenav-split">Admin</div>
        <mat-action-list>
          <button mat-list-item routerLinkActive="active" routerLink="/register-school-admin"><mat-icon>add_circle</mat-icon>Register School Admin</button>
          <button mat-list-item routerLinkActive="active" routerLink="/manage-users"><mat-icon>group</mat-icon>Manage Users</button>

        </mat-action-list>
      </div>

      <!-- School Admin -->
      <div *ngIf="currentUser?.type == 'sadmin'">
        <div class="sidenav-split">School Admin</div>
        <mat-action-list>
          <button mat-list-item routerLinkActive="active" routerLink="/register-school"><mat-icon>home</mat-icon>Register School</button>
          <button mat-list-item routerLinkActive="active" routerLink="/submit-request"><mat-icon>description</mat-icon>Submit Request</button>
          <button mat-list-item routerLinkActive="active" routerLink="/review-offers"><mat-icon>receipt_long</mat-icon>Review Offers</button>
        </mat-action-list>
      </div>

      <!-- Volunteer -->
      <div *ngIf="currentUser?.type == 'volunteer'">
        <div class="sidenav-split">Volunteer</div>
        <mat-action-list>
          <button mat-list-item routerLinkActive="active" routerLink="/view-request"><mat-icon>home</mat-icon>View Request</button>
          <button mat-list-item routerLinkActive="active" routerLink="/my-offers"><mat-icon>description</mat-icon>My Offers</button>
          <!-- <button mat-list-item routerLinkActive="active" routerLink="/test"><mat-icon>dashboard</mat-icon>Submit Offer</button> -->
        </mat-action-list>
      </div>

      <!-- Default -->
      <div *ngIf="currentUser == null">
        <div class="sidenav-split">Home</div>
          <mat-action-list>
            <button mat-list-item routerLinkActive="active" routerLink="/view-request"><mat-icon>home</mat-icon>View Request</button>
          </mat-action-list>
      </div>
      <!-- <div class="sidenav-split">Home</div>
      <mat-action-list>
        <button mat-list-item routerLinkActive="active" routerLink="/"><mat-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLinkActive="active" routerLink="/test"><mat-icon>dashboard</mat-icon>Test</button>
      </mat-action-list>

      <div class="sidenav-split">Home 2</div>
      <mat-action-list>
        <button mat-list-item routerLinkActive="active" routerLink="/"><mat-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLinkActive="active" routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</button>
      </mat-action-list>

      <div class="sidenav-split">Home 3</div>
      <mat-action-list>
        <button mat-list-item routerLinkActive="active" routerLink="/"><mat-icon>home</mat-icon>Home</button>
        <button mat-list-item routerLinkActive="active" routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</button>
      </mat-action-list> -->

    </div>
  </mat-sidenav>
  <!-- header and navbar -->
  <app-header></app-header>

  <!-- Main content -->
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
