.nav-right {
  flex: 1 1 auto;
}

.last {
  margin-right: 3em;
}

.welcome {
  padding-top: 1em;
  font-size: .8em;
  margin-right: 4em;
}

.username {
  color:cadetblue;
  text-transform: uppercase;
}

mat-toolbar {
  background-color: white;
  font: 400 18px Roboto, "Helvetica Neue", sans-serif;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-clip: padding-box;
  float: left;
  background-size: cover;
  background-position: center center;
  margin-right: 20px;
}
