<!-- Top Nav -->
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <span>Dashboard</span>
    <span class="nav-right"></span>
    <button mat-icon-button class="last" *ngIf="currentUser === null" (click)="login()"><mat-icon>login</mat-icon> Login</button>

    <!-- <p class="welcome" *ngIf="currentUser !== null">Welcome <b class="username">{{currentUser.username}}</b></p>
    <div (click)="updatePfp()" class="profile" style="background-image: url({{currentUser.pfp}})"></div> -->
    <button mat-icon-button class="last" *ngIf="currentUser !== null" (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Le bread crumbs here</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row> -->
</mat-toolbar>
